@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: rgb(110, 108, 108);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 3rem;
  color: black;
}

.btn {
  width: 20rem;
  height: 4rem;
  margin-top: 3rem;
  font-size: 1.3rem;
  border-radius: 2rem;
  padding-bottom: 1rem;
}

/* #btnColorChanger {
  width: 15rem;
  height: 2rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  background-color: darkkhaki;
  border: none;
  border-radius: 1rem;
}*/